<nav class="navbar" style="margin-right: 45px; margin-left: 45px">
  <%= image_tag 'logo_transparent.png', alt: 'logo', style: "width: 150px"%>
  <%= link_to "Retour à la page d'accueil", root_path, class: "button-contact" %>
</nav>
<hr style="color: #B2A4FF">
<h3 style="text-align: center; font-size: 32px; font-weight: 300;">Merci de prendre le temps de me contacter.</h3>
<h3 style="text-align: center; font-size: 32px; font-weight: 300;">Comment puis-je vous aider aujourd'hui ?</h3>
<div class="contact-form">
  <%= form_with(model: @contact, url: contacts_path, local: true) do |form| %>
    <% if @contact.errors.any? %>
      <div class="errors">
        <h3>Erreur(s) empêchant l'envoi du formulaire :</h3>
        <ul>
          <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-row">
      <div class="form-column">
        <%= form.label :name, "Nom" %>
        <%= form.text_field :name %>
      </div>
      <div class="form-column">
        <%= form.label :email, "Email" %>
        <%= form.email_field :email %>
      </div>
    </div>
    <%= form.label :message, "Message", style: "margin-bottom: 5px" %>
    <div class="form-row">
      <%= form.text_area :message %>
    </div>

    <%= form.submit "Envoyer", class: "form-button" %>
  <% end %>
</div>
<% if flash[:success] %>
  <div class="flash flash-success">
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="flash flash-error">
    <%= flash[:error] %>
  </div>
<% end %>
