<nav class="navbar">
  <%= image_tag 'logo_transparent.png', alt: 'logo', style: "width: 150px"%>
  <%= link_to "Retour à la page d'accueil", root_path, class: "button-contact" %>
</nav>
<hr style="color: #B2A4FF">
<h3 style="text-align: center; font-size: 32px; font-weight: 300;">Merci de prendre le temps de me contacter.</h3>
<h3 style="text-align: center; font-size: 32px; font-weight: 300;">Comment puis-je vous aider aujourd'hui ?</h3>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <%= value %>
  </div>
<% end %>

<%= form_with scope: :contacts, url: contacts_path, method: :post, local: true, class: "container" do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_area :message, class: "form-control" %>
  </div>
  <%= form.submit "Envoyer", class: "btn btn-primary mt-3" %>
<% end %>
